* {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #222;
}
#canvas {
    display: block;
}
.info {
	color: lime;
    position: absolute;
    bottom: 0;
}
.info li {
	display: inline-block;
	width: 50%;
}