@font-face {
    font-family: 'neuropol';
    src: url('../fonts/neuropol.eot?#iefix') format('embedded-opentype'),
        url('F../fonts/neuropol.eot'),
        url('../fonts/neuropol.woff') format('woff'), 
        url('../fonts/neuropol.ttf')  format('truetype'),
        url('../fonts/neuropol.svg#svgFontName') format('svg');
}
* {
    box-sizing: border-box;
    font-family: 'neuropol', courier;
}
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #222;
    overflow: hidden;
}
li {
    list-style-type: none;
}
#canvas {
    max-width: 650px;
    min-width: 550px;
    margin: 0 auto;
    display: block;
    height: 100%;
}
/* ====== Backgrounds / Layout === */

.bg--canvasContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.col--50 {
    width: 50%;
    max-width: 50%;
    flex: 1 0 50%;
    height: 100%;
}
.col--30 {
    width: 30%;
    height: 100%;
}
.col--70 {
    width: 70%;
    height: 100%;
    position: relative;
}
.flex--center {
    display: flex;
    justify-content: center;
}
.flex--around {
    display: flex;
    justify-content: space-around;
}
.flex--col-center {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.row {
    display: flex;
    padding-top: .5rem;
}
.row img {
    margin-right: 15px;
}
.row--list {
    width: 250px;
    line-height: 32px;
}
/* ======= Heads Up Display ==
=========================== */
.info {
    color: cyan;
    position: absolute;
    top: 0;
    left: 5%;
    display: flex;
    flex-wrap: wrap;
}
.info li {
    display: inline-block;
}
.info--level, .info--speedTarget {
    width: 100%;
}
.speed-meter {
    display: inline-block;
    width: 100px;
    background: red;
    transition: .5s width;
    height: 15px;
}
#gameover {
    background: rgba(32,32,32,1);
    color: red;
    position: absolute;
    z-index: 500;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    opacity: 0;
    width: 0;
    transition: 1s all;
    pointer-events: none;
}
#gameover.active {
    width: auto;
    opacity: 1;
    pointer-events: auto;
}
#gameover h1 {
    text-align: center;
}
/* ====== Main Menu ========
=========================== */
.btn--menu {
    border-radius: 5px;
    border: 1px solid dodgerblue;
    padding: 5px;
    list-style-type: none;
    width: 140px;
    margin: 10px 0;
    transition: .4s all;
}
.btn--menu:hover {
    border: 1px solid orange;
}
.btn--menu.active {
    border: 1px solid cyan;
}
.menu {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    color: #fff;
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000 url('../images/cover.png') 100%/100% no-repeat;
}
.menu--warning, .menu--supported {
    display: none;
}
.menu--supported.active {
    display: block;
    position: fixed;
    z-index: 1000;
    background-color: dodgerblue;
    height: 100%;
    width: 100%;
}
.menu--disabled {
    display: none;
}
.menu--sub {
    transition: .5s all;
    right: 15px;
    padding: 0 10px;
    display: none;
}
.menu--sub a {
    color: dodgerblue;
}
.menu--sub.active {
    display: flex;
    flex-flow: column;
    justify-content: center;
    opacity: 1;
    align-items: center;
}
.menu--sub-content {
    display: none;
    border: 2px solid lime;
}
.menu--sub-content.active {
    display: block;
}
.menu--start.active > p.btn--start {
    z-index: 100;
    border-radius: 10px;
    padding: 5px;
    color: cyan;
    opacity: 1;
    animation-name: flashing;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes flashing {
    0% {color: cyan;}
    50% {color: dodgerblue;}
    100% {color: cyan;}
}
.menu--logo {
}
.menu--controls {
    display: block;
    position: relative;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    flex-flow: row;
    pointer-events: none;
    width: 100%;
}
.menu--controls-container {
    width: 70%;
    position: relative;
}
.menu--controls.active {
    opacity: 1;
    z-index: 100;
    left: auto;
    right: auto;
    position: relative;
    pointer-events: auto;
    width: 100%;
    border: 1px solid dodgerblue;
    background: #000;
    opacity: .85;
    height: 100vh;
}
.menu--controls.game--active {
    right: 150px;
}
.menu--controls img {
    max-width: 100%;
}
.menu--controls h2 {
    font-size: 12px;
    padding: 5px;
    color: cyan;
}
.menu--overlay {
    display: flex;
    height: 0;
}
.menu--objectives {
    border: 1px solid dodgerblue;
    background: #000;
    opacity: .85;
}
.menu--about {
    border: 1px solid dodgerblue;
    background: #000;
    opacity: .75;
}
/* ===== Side Menus ======
=========================== */
.menu--alt {
    width: 100px;
    height: 100vh;
    top: 0;
    position: absolute;
    z-index: 50;
    display: flex;
    justify-content: flex-start;
    padding-top: 25px;
    flex-flow: column;
    transition: all .5s;
}
.menu--alt li {
    list-style-type: none;
}
.menu--item {
    position: relative;
    left: 0px;
    width: 200px;
    transition: all .3s;
}
.menu--item-left {
    left: -150px;
}
.menu--item-right.active {
    left: -50px;
}
.menu--item-left.active {
    left: -50px;
}
.menu--left {
    left: -300px;
    width: 300px;
}
.menu--left img {
    max-width: 100%;
    position: absolute;
    top: 25px;
}
.menu--right {
    opacity: .6;
    right: -100px;
}
.menu--left.active {
    left: 100px;
}
.menu--right.active {
    right: 0;
}
.menu--weapon-container {
    position: absolute;
    top: 65px;
    left: 25px;
    font-size: 14px;
    color: #fff;
}
.speed--info {
    display: inline-block;
    color: red;
    font-weight: bold;
    font-size: 20px;
    width: 75px;
}
.user--interface {

}
@media screen and (orientation:portrait) {
    .menu h2 {
        margin: auto;
        text-align: center;
        display: block;
    }
    .menu--warning {
        display: block;
        position: absolute;
        z-index: 150;
        background: dodgerblue;
        height: 100%;
    }
}
@media screen and (min-width: 1024px) {
    .bg--canvasContainer {
        width: 800px;
        height: 600px;
        margin: auto;
    }
    #canvas, .info {
        display: none;
    }
    .flex--center {
        align-items: center;
    }
    .menu--controls.active, .menu--sub.active {
        height: 400px;
        top: 80px;
    }
}